@charset "UTF-8";
.navclass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}

.nav-links li a a::after {
  content: '';
  background: #2e4564;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-links li a a:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-top: 50px;
}

.content h1 {
  font-size: 60px;
  font-weight: 600px;
  margin-bottom: 40px;
}

.content form {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
}

.content form button {
  background: #2e4564;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
}

.category-list .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 80px;
  background: #6983a3;
  margin: 0 10px;
  font-size: 12px;
}

.category-list .category img {
  width: 25px;
  margin-bottom: 5px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
}

@media (min-aspect-ratio: 16 / 9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

.header {
  height: 100vh;
  width: 100%;
  padding: 0 8%;
  position: relative;
}

img {
  max-width: 100px;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;
  top: 0;
}

* {
  /* a csillag jelentése: mindenre vonatkozik az adott lapon*/
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */